.feedback {
    &__btn {
        margin: 0 auto;
    }
    &__caption {
        font-weight: bold;
        text-align: center;
        margin-top: 80px;
        @media screen and (max-width: $small_tablet) {
            width: 100%;
            font-size: 25px;
            text-align: right;
            width: 90%;
        }
    }
    &__form {
        margin: 60px auto 0 auto;
        width: 558px;
        padding: 68px 54px 52px 54px;
        @media screen and (max-width: $laptop) {
            width: 400px;
            padding: 53px 39px 37px 39px;
        }
        @media screen and (max-width: $small_tablet) {
            width: 90vw;
            margin-top: 200px;
            padding: 38px 24px 22px 24px;
        }
        .form__text, .select__value, .select__option {
            @media screen and (max-width: $small_tablet) {
                font-size: 12px !important;
            }   
        }
    }
}

.person2 {
    position: absolute;
    bottom: 0;
    left: -50px;
    z-index: -1;
    @media screen and (max-width: $laptop) {
        width: 500px;
    }
    @media screen and (max-width: $small_tablet) {
        transform: scale(0.5);
        left: -170px;
        top: 25px;
    }
}

.person2-bg {
    position: absolute;
    width: 4px;
    height: 184px;
    left: 215px;
    top: 523px;
    background: #F79F33;
    box-shadow: 0px 0px 250px 210px #F79F33;
    z-index: -2 ;
    @media screen and (max-width: $small_tablet) {
        box-shadow: 0px 0px 150px 1 10px #F79F33;
        left: 100px;
        top: 100px;
    }
}
