.wrapper {
}
.introduce {
    position: relative;
    &__content {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $small_tablet) {
            flex-flow: column;
        }
    }
    &__info {
        @media screen and (max-width: $small_tablet) {
            text-align: left;
            width: 200px;
            margin-left: auto;
        }
    }
    &__s1 {
        position: relative;
        font-size: 36px;
        font-weight: 600;
        &::before {
            content: '';
            position: absolute;
            width: 176px;
            height: 7px;
            bottom: -15px;
            background: #F79F33;
        }
        @media screen and (max-width: $laptop) {
            font-size: 30px;
        }
        @media screen and (max-width: $small_tablet) {
            white-space: nowrap;
            font-size: 24px;
            text-align: left;
            margin-left: -145px;
            margin-top: 15px;
            margin-right: 15px;
            &::before {
                width: 250px;
            }
        }
    }
    &__s2 {
        font-size: 30px;
        font-weight: 600;
        margin-top: 77px;
        @media screen and (max-width: $laptop) {
            font-size: 20px;    
        }
        @media screen and (max-width: $small_tablet) {
            font-size: 18px;
            margin-top: 25px;
            margin-right: 15px;
        }
    }
    &__s3 {
        font-size: 36px;
        font-weight: 600;
        margin-top: 10px;
        @media screen and (max-width: $laptop) {
            font-size: 30px;   
        }
        @media screen and (max-width: $small_tablet) {
            font-size: 18px;
            margin-right: 15px;
            margin-top: 0;
        }
    }
    &__s4 {
        font-size: 24px;
        margin-top: 29px;
        @media screen and (max-width: $laptop) {
            font-size: 18px;   
        }
        @media screen and (max-width: $small_tablet) {
            font-size: 12px;
            margin-right: 15px;
        }
    }
    &__form {
        margin-top: 10px;
        @media screen and (max-width: $laptop)  {
            width: 300px;
            padding: 32px 50px 48px 50px;   
        }
        @media screen and (max-width: $phone)  {
            width: 340px;
            padding: 32px 50px 48px 50px;   
        }
    }
    &__formtext {
        @media screen and (max-width: $laptop)  {
            margin-top: 15px !important;   
        }
    }
    &__person {
        position: absolute;
        bottom: -25px;
        left: 47%;
        transform: translateX(-50%);
        @media screen and (max-width: $laptop) {
            width: 350px;
        }
        @media screen and (max-width: $small_tablet) {
            width: 190px;
            left: 90px;
            bottom: 490px;
            z-index: -1;
        }
    }
}
.header {
    width: 100%;
    &__item {
        height: 45px;
        line-height: 45px;
        position: relative;
        &::before {
            position: absolute;
            left: -40px;
            top: 50%;
            transform: translateY(-50%);
        }
        &:first-child {
            margin-right: 115px;
        }
        @media screen and (max-width: $small_tablet) {
            &:first-child {
                margin-right: 70px;
            }
            margin-top: 35px;
            margin-right: 15px;
        }
    }
    &__text {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        line-height: 24.38px;
        margin-top: 25px;
        @media screen and (max-width: $small_tablet) {
            display: none;
        }
        &_mobile {
            font-size: 8px;
            font-weight: 600;
            text-align: center;
            margin-top: 25px;
            width: 180px;
            display: none;
            margin: 0 auto; 
            @media screen and (max-width: $small_tablet) {
                display: block;
            }
        }
    }
    &__block {
        display: flex;
        justify-content: flex-end;
        width: 482px;
        margin: 0 0 0 auto;
        @media screen and (max-width: $small_tablet) {
            width: 100vw;
        }
    }
    &__phone::before {
        content: url('../img/phone.png');
    }
    &__email::before {
        content: url('../img/mail.png');
    }
}

.person-background {
    position: absolute;
    width: 2px;
    height: 317px;
    left: 644px;
    top: 349px;
    background: #F79F33;
    box-shadow: 0px 0px 200px 180px #F79F33;
    z-index: -1;
    @media screen and (max-width: $small_tablet) {
        left: 0;
        top: 0
    }
}

.phone_delete {
    @media screen and (max-width: $small_tablet) {
        display: none;
    }
}