.portfolio {
    background: #F79F33;
    margin-top: 25px;
    &__caption {
        text-align: center;
        font-weight: bold;
        margin-top: 120px;
    }

    &__works {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        @media screen and (max-width: $tablet) {
            justify-content: space-around;
        }
    }

    &__work {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        @media screen and (max-width: $tablet) {
            &:not(.portfolio__work_active) {
                display: none;
            }
        }
        @media screen and (max-width: $laptop) {
            width: 290px;
        }
    }

    &__image {
        position: relative;
        & img {
            @media screen and (max-width: $tablet) {
                width: 80vw;
            }
            @media screen and (max-width: $laptop) {
                width: inherit;
            }
        }
        @media screen and (max-width: $laptop) {
            width: inherit;
        }
    }
    @media screen and (max-width: $tablet) {
        &__left-arrow {
            position: absolute;
            width: 44px;
            height: 44px;
            left: -22px;
            top: 50%;
            transform: translateY(-50%);
            background: url(../img/slider-arrow.png);
            background-size: cover;
            border-radius: 10px;
        }
        &__right-arrow {
            position: absolute;
            width: 44px;
            height: 44px;
            right: -22px;
            top: 50%;
            transform: translateY(-50%) rotate(180deg);
            background: url(../img/slider-arrow.png);
            background-size: cover;
            border-radius: 10px;
        }
    }
    &__address {
        margin-top: 30px;
        font-weight: 600;
    }
    &__btn {
        margin: 30px auto 60px auto;
        background: #fff;
    }
}
.caption {
}
.text {
}
